html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ol, ul, figure {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
html, body {
  overflow-x: hidden;
  min-height: 100vh;
}
a {
  color: inherit;
  text-decoration: none;
}
ol, ul {
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
}
input[type=text] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
/* Noto Sans Font */
/* noto-sans-regular - latin */
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/noto-sans-v25-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("/fonts/noto-sans-v25-latin-regular.eot?#iefix") format("embedded-opentype"), url("/fonts/noto-sans-v25-latin-regular.woff2") format("woff2"), url("/fonts/noto-sans-v25-latin-regular.woff") format("woff"), url("/fonts/noto-sans-v25-latin-regular.ttf") format("truetype"), url("/fonts/noto-sans-v25-latin-regular.svg#NotoSans") format("svg");
  /* Legacy iOS */
}
/* noto-sans-700 - latin */
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/noto-sans-v25-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("/fonts/noto-sans-v25-latin-700.eot?#iefix") format("embedded-opentype"), url("/fonts/noto-sans-v25-latin-700.woff2") format("woff2"), url("/fonts/noto-sans-v25-latin-700.woff") format("woff"), url("/fonts/noto-sans-v25-latin-700.ttf") format("truetype"), url("/fonts/noto-sans-v25-latin-700.svg#NotoSans") format("svg");
  /* Legacy iOS */
}
.btn {
  border: 0;
  background: #4D80E2;
  color: #fff;
  padding: 8px 16px;
  border-radius: 8px;
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}
@media screen and (min-width: 992px) {
  .btn {
    font-size: 14px;
    line-height: 20px;
  }
}
.burger {
  display: block;
  width: 32px;
}
.burger-line {
  width: 100%;
  height: 2px;
  background-color: #363636;
  margin-bottom: 6px;
}
.burger-line.burger-line-short {
  width: 75%;
}
.color-0 {
  color: #363636;
}
.color-1 {
  color: #fff;
}
.color-2 {
  color: #7E7E7E;
}
.color-3 {
  color: #F5F5F5;
}
.color-4 {
  color: #4D80E2;
}
.color-5 {
  color: #F4FAFF;
}
.color-6 {
  color: #000;
}
.color-bg-0 {
  background-color: #363636;
}
.color-bg-1 {
  background-color: #fff;
}
.color-bg-2 {
  background-color: #7E7E7E;
}
.color-bg-3 {
  background-color: #F5F5F5;
}
.color-bg-4 {
  background-color: #4D80E2;
}
.color-bg-5 {
  background-color: #F4FAFF;
}
.color-bg-6 {
  background-color: #000;
}
.header-logo {
  width: 240px;
}
@media screen and (min-width: 992px) {
  .header-logo {
    width: 320px;
  }
}
.hr {
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.layout {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 600px) {
  .layout {
    padding-left: 8px;
    padding-right: 8px;
  }
}
@media screen and (min-width: 992px) {
  .layout {
    padding-left: 16px;
    padding-right: 16px;
    max-width: 100%;
  }
}
@media screen and (min-width: 1280px) {
  .layout {
    max-width: 1368px;
  }
}
.layout-nested {
  margin-left: -40px;
  margin-right: -40px;
}
.layout-1 {
  padding-left: 24px;
  padding-right: 24px;
  flex-basis: 100%;
  max-width: 100%;
}
.layout-1-2 {
  padding-left: 24px;
  padding-right: 24px;
  flex-basis: 50%;
  max-width: 50%;
}
.layout-1-3 {
  padding-left: 24px;
  padding-right: 24px;
  flex-basis: 33.3333333333%;
  max-width: 33.3333333333%;
}
.layout-1-4 {
  padding-left: 24px;
  padding-right: 24px;
  flex-basis: 25%;
  max-width: 25%;
}
.layout-3-4 {
  padding-left: 24px;
  padding-right: 24px;
  flex-basis: 75%;
  max-width: 75%;
}
@media screen and (min-width: 992px) {
  .layout-md-1-4 {
    padding-left: 24px;
    padding-right: 24px;
    flex-basis: 25%;
    max-width: 25%;
  }
}
@media screen and (min-width: 992px) {
  .layout-md-3-4 {
    padding-left: 24px;
    padding-right: 24px;
    flex-basis: 75%;
    max-width: 75%;
  }
}
@media screen and (min-width: 992px) {
  .layout-md-1-5 {
    padding-left: 24px;
    padding-right: 24px;
    flex-basis: 20%;
    max-width: 20%;
  }
}
@media screen and (min-width: 992px) {
  .layout-md-2-5 {
    padding-left: 24px;
    padding-right: 24px;
    flex-basis: 40%;
    max-width: 40%;
  }
}
@media screen and (min-width: 992px) {
  .layout-md-3-5 {
    padding-left: 24px;
    padding-right: 24px;
    flex-basis: 60%;
    max-width: 60%;
  }
}
@media screen and (min-width: 992px) {
  .layout-md-4-5 {
    padding-left: 24px;
    padding-right: 24px;
    flex-basis: 80%;
    max-width: 80%;
  }
}
@media screen and (min-width: 992px) {
  .layout-md-1-6 {
    padding-left: 24px;
    padding-right: 24px;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }
}
@media screen and (min-width: 992px) {
  .layout-md-7-12 {
    padding-left: 24px;
    padding-right: 24px;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }
}
.layout-1-12 {
  padding-left: 24px;
  padding-right: 24px;
  flex-basis: 8.3333333333%;
  max-width: 8.3333333333%;
}
@media screen and (min-width: 992px) {
  .layout-md-1-2 {
    padding-left: 24px;
    padding-right: 24px;
    flex-basis: 50%;
    max-width: 50%;
  }
}
@media screen and (min-width: 992px) {
  .layout-md-1-3 {
    padding-left: 24px;
    padding-right: 24px;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }
}
@media screen and (min-width: 992px) {
  .layout-md-2-3 {
    padding-left: 24px;
    padding-right: 24px;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }
}
@media screen and (min-width: 992px) {
  .layout-md-1-4 {
    padding-left: 24px;
    padding-right: 24px;
    flex-basis: 25%;
    max-width: 25%;
  }
}
.layout-overlay {
  z-index: 9999;
  position: fixed;
  pointer-events: none;
  height: 100vh;
  width: 100%;
  display: none;
}
.layout-overlay.layout-overlay-active {
  display: block;
}
.layout-overlay-bar {
  height: 100vh;
  width: 100%;
  background-color: rgba(255, 0, 120, 0.1);
}
.m-1 {
  margin: 8px;
}
.m-2 {
  margin: 12px;
}
.m-3 {
  margin: 16px;
}
.m-4 {
  margin: 24px;
}
.m-5 {
  margin: 32px;
}
.m-6 {
  margin: 64px;
}
.m-t1 {
  margin-top: 8px;
}
.m-t2 {
  margin-top: 12px;
}
.m-t3 {
  margin-top: 16px;
}
.m-t4 {
  margin-top: 24px;
}
.m-t5 {
  margin-top: 32px;
}
.m-t6 {
  margin-top: 64px;
}
.m-b1 {
  margin-bottom: 8px;
}
.m-b2 {
  margin-bottom: 12px;
}
.m-b3 {
  margin-bottom: 16px;
}
.m-b4 {
  margin-bottom: 24px;
}
.m-b5 {
  margin-bottom: 32px;
}
.m-b6 {
  margin-bottom: 64px;
}
.m-l1 {
  margin-left: 8px;
}
.m-l2 {
  margin-left: 12px;
}
.m-l3 {
  margin-left: 16px;
}
.m-l4 {
  margin-left: 24px;
}
.m-l5 {
  margin-left: 32px;
}
.m-l6 {
  margin-left: 64px;
}
.m-r1 {
  margin-right: 8px;
}
.m-r2 {
  margin-right: 12px;
}
.m-r3 {
  margin-right: 16px;
}
.m-r4 {
  margin-right: 24px;
}
.m-r5 {
  margin-right: 32px;
}
.m-r6 {
  margin-right: 64px;
}
.m-x1 {
  margin-left: 8px;
  margin-right: 8px;
}
.m-x2 {
  margin-left: 12px;
  margin-right: 12px;
}
.m-x3 {
  margin-left: 16px;
  margin-right: 16px;
}
.m-x4 {
  margin-left: 24px;
  margin-right: 24px;
}
.m-x5 {
  margin-left: 32px;
  margin-right: 32px;
}
.m-x6 {
  margin-left: 64px;
  margin-right: 64px;
}
.m-y1 {
  margin-top: 8px;
  margin-bottom: 8px;
}
.m-y2 {
  margin-top: 12px;
  margin-bottom: 12px;
}
.m-y3 {
  margin-top: 16px;
  margin-bottom: 16px;
}
.m-y4 {
  margin-top: 24px;
  margin-bottom: 24px;
}
.m-y5 {
  margin-top: 32px;
  margin-bottom: 32px;
}
.m-y6 {
  margin-top: 64px;
  margin-bottom: 64px;
}
@media screen and (min-width: 992px) {
  .m-md-b5 {
    margin-bottom: 32px;
  }
}
.m-auto {
  margin: auto;
}
.markup-zone h2 {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 12px;
}
@media screen and (min-width: 992px) {
  .markup-zone h2 {
    font-size: 28px;
    line-height: 40px;
  }
}
.markup-zone h3 {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 12px;
}
@media screen and (min-width: 992px) {
  .markup-zone h3 {
    font-size: 21px;
    line-height: 28px;
  }
}
.markup-zone h4 {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 12px;
}
@media screen and (min-width: 992px) {
  .markup-zone h4 {
    font-size: 16px;
    line-height: 24px;
  }
}
.markup-zone p {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 24px;
}
@media screen and (min-width: 992px) {
  .markup-zone p {
    font-size: 15px;
    line-height: 24px;
  }
}
.markup-zone p a {
  text-decoration: underline;
}
.markup-zone li {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 8px;
}
@media screen and (min-width: 992px) {
  .markup-zone li {
    font-size: 15px;
    line-height: 24px;
  }
}
.markup-zone ul li {
  display: list-item;
  background-image: url("/static-vmn/icon/check.svg");
  background-repeat: no-repeat;
  background-position: 0px 4px;
  padding-left: 32px;
}
.markup-zone ol li {
  display: list-item;
  position: relative;
  padding-left: 24px;
}
.markup-zone ol, .markup-zone ul {
  padding-left: 0px;
  margin-bottom: 24px;
  margin-top: 16px;
}
.markup-zone figure {
  margin-top: 12px;
  margin-bottom: 12px;
}
.p-1 {
  padding: 8px;
}
.p-2 {
  padding: 12px;
}
.p-3 {
  padding: 16px;
}
.p-4 {
  padding: 24px;
}
.p-5 {
  padding: 32px;
}
.p-6 {
  padding: 64px;
}
.p-t1 {
  padding-top: 8px;
}
.p-t2 {
  padding-top: 12px;
}
.p-t3 {
  padding-top: 16px;
}
.p-t4 {
  padding-top: 24px;
}
.p-t5 {
  padding-top: 32px;
}
.p-t6 {
  padding-top: 64px;
}
.p-b1 {
  padding-bottom: 8px;
}
.p-b2 {
  padding-bottom: 12px;
}
.p-b3 {
  padding-bottom: 16px;
}
.p-b4 {
  padding-bottom: 24px;
}
.p-b5 {
  padding-bottom: 32px;
}
.p-b6 {
  padding-bottom: 64px;
}
.p-l1 {
  padding-left: 8px;
}
.p-l2 {
  padding-left: 12px;
}
.p-l3 {
  padding-left: 16px;
}
.p-l4 {
  padding-left: 24px;
}
.p-l5 {
  padding-left: 32px;
}
.p-l6 {
  padding-left: 64px;
}
.p-r1 {
  padding-right: 8px;
}
.p-r2 {
  padding-right: 12px;
}
.p-r3 {
  padding-right: 16px;
}
.p-r4 {
  padding-right: 24px;
}
.p-r5 {
  padding-right: 32px;
}
.p-r6 {
  padding-right: 64px;
}
.p-x1 {
  padding-left: 8px;
  padding-right: 8px;
}
.p-x2 {
  padding-left: 12px;
  padding-right: 12px;
}
.p-x3 {
  padding-left: 16px;
  padding-right: 16px;
}
.p-x4 {
  padding-left: 24px;
  padding-right: 24px;
}
.p-x5 {
  padding-left: 32px;
  padding-right: 32px;
}
.p-x6 {
  padding-left: 64px;
  padding-right: 64px;
}
.p-y1 {
  padding-top: 8px;
  padding-bottom: 8px;
}
.p-y2 {
  padding-top: 12px;
  padding-bottom: 12px;
}
.p-y3 {
  padding-top: 16px;
  padding-bottom: 16px;
}
.p-y4 {
  padding-top: 24px;
  padding-bottom: 24px;
}
.p-y5 {
  padding-top: 32px;
  padding-bottom: 32px;
}
.p-y6 {
  padding-top: 64px;
  padding-bottom: 64px;
}
@media screen and (min-width: 992px) {
  .p-md-y6 {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}
@media screen and (min-width: 992px) {
  .p-md-r6 {
    padding-right: 64px;
  }
}
.text-body {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
@media screen and (min-width: 992px) {
  .text-body {
    font-size: 15px;
    line-height: 24px;
  }
}
.text-h1 {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
}
@media screen and (min-width: 992px) {
  .text-h1 {
    font-size: 38px;
    line-height: 48px;
  }
}
.text-h2 {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
}
@media screen and (min-width: 992px) {
  .text-h2 {
    font-size: 28px;
    line-height: 40px;
  }
}
.text-h3 {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
@media screen and (min-width: 992px) {
  .text-h3 {
    font-size: 21px;
    line-height: 28px;
  }
}
.text-h4 {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
@media screen and (min-width: 992px) {
  .text-h4 {
    font-size: 16px;
    line-height: 24px;
  }
}
.text-menu {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
@media screen and (min-width: 992px) {
  .text-menu {
    font-size: 17px;
  }
}
.text-date {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.5;
  color: #000;
}
@media screen and (min-width: 992px) {
  .text-date {
    font-size: 15px;
  }
}
.text-label {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}
@media screen and (min-width: 992px) {
  .text-label {
    font-size: 14px;
  }
}
.text-h1.text-color-1 {
  color: #fff;
}
.text-body.text-color-1 {
  color: #fff;
}
.typography-block-label {
  padding: 4px 8px;
  color: #fff;
  background: #7E7E7E;
  text-transform: uppercase;
  display: inline-block;
}
.u-display-block {
  display: block;
}
@media screen and (min-width: 992px) {
  .u-md-display-block {
    display: block;
  }
}
.u-display-inline {
  display: inline;
}
.u-display-inline-block {
  display: inline-block;
}
.u-display-none {
  display: none;
}
@media screen and (min-width: 992px) {
  .u-md-display-none {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  .u-md-display-block {
    display: block;
  }
}
.u-flex {
  display: flex;
}
@media screen and (min-width: 992px) {
  .u-md-flex {
    display: flex;
  }
}
.u-flex-1 {
  flex: 1;
}
.u-flex-2 {
  flex: 2;
}
.u-flex-3 {
  flex: 3;
}
.u-justify-center {
  justify-content: center;
}
.u-justify-end {
  justify-content: flex-end;
}
.u-align-center {
  align-items: center;
}
.u-align-start {
  align-items: flex-start;
}
.u-direction-column {
  flex-direction: column;
}
.u-m-auto {
  margin: auto;
}
.u-mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.u-space-between {
  justify-content: space-between;
}
.u-position-relative {
  position: relative;
}
.u-position-absolute {
  position: absolute;
}
.u-position-fixed {
  position: fixed;
}
.u-text-center {
  text-align: center;
}
.u-border-radius {
  border-radius: 8px;
}
.u-box-shadow {
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
}
.u-border-1 {
  border: 1px solid;
}
.u-border-b {
  border-bottom: 2px solid;
}
.u-border-color-0 {
  border-color: #363636;
}
.u-border-color-3 {
  border-color: #F5F5F5;
}
.w-100 {
  width: 100%;
}
.w-75 {
  width: 75%;
}
.w-50 {
  width: 50%;
}
.w-25 {
  width: 25%;
}
